.navbar-brand {
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-link {
    color: #f0f;
}

.logo {
    width: 1.5rem;
    height: 1.5rem;
}

.nav-title {
    font-size:1.5rem;
}