.cardsm {
    text-align: start;
    background-color: #dee5ec;
    height: auto;
}

.recomendaciones {
  
    margin-right: 1%;
}

.title {
    font-size: calc(1rem+1vw);
    color: rgb(31, 31, 31);
}

.description {
    font-size: calc(0.8rem+1vw);
    color: gray;
    text-indent: 10px;
}

.image-sm {
    width: 20%;
    height: 20%;
    object-fit: cover;
}


