.contenedor {
    width: 100%;
    position: relative;
    display: inline-block;
    text-align: center;
}

.imagen-portada {
    object-fit: cover;
    height: 30vh;
    width: 100vw;
}

.portada {
    background-color: #8e7ff7;
}

.texto-portada {
    text-shadow: 1px 1px 2px black;
    
}

.link {
    text-decoration: none;
    color: rgb(92, 91, 91);
    margin-top: 4px;
}

.text-image {
    position: absolute;
    display: flex;
    font-size: 1.5rem;
    color: white;
    padding-top: 0.5%;
    padding-left: 1%;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.47102591036414565) 0%, rgba(150, 150, 150, 0.0984768907563025) 68%, rgba(189, 189, 189, 0) 100%);
    top: 0px;
    left: 0px;
    text-shadow: 1px 1px black;
}