.imagen {
    object-fit: cover;
    height: 180px;
}

.title-noticias {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 23px;
    padding-top:3px;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.text-noticias {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-height: 23px;
    padding-top: 5px;
    padding-bottom: 6px;
    /* number of lines to show */
    -webkit-box-orient: vertical;

}