.imagen {
    object-fit: cover;
   
    height: 180px;
}

.title {
    font-size: calc(0.01rem + 1vw);
}

.icon-red {
    cursor: pointer;
}

.text-recomendaciones {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}

.title-recomendaciones {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


