.image-md {
    width: 100%;
    height: calc(1rem + 20vh);
    object-fit: cover;
}

.image-sm {
  
    object-fit: cover;
}

.image-lg {
    width: 100%;
    height: calc(1rem + 34.7vh);
    object-fit: cover;
    
}

.title {
    font-size: calc(0.01rem + 1vw);
}
