.App {  
  background-color: #dce1e5;
  /* background-color:darkslategray; */
  font-family: 'Nanum Myeongjo', serif;

}

.icon-sm {
  width: 24px;
  height: 24px;
}

a {
  color: black;
}

.cursor-pointer {
  cursor: pointer;
}



