.App {  
  background-color: #dce1e5;
  /* background-color:darkslategray; */
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.icon-sm {
  width: 24px;
  height: 24px;
}

a {
  color: black;
}

