.paragraph > p{
    text-indent: 30px;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 30px;
    text-rendering: auto;
}

.paragraph > ul, li{
    margin: 0px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-rendering: auto;
  
}

.paragraph > h3, h2, h4, h5 {
    
}