.paragraph > p{
    text-indent: 30px;
    margin: 0px;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 30px;
    text-rendering: auto;
  
}