.boton {
    background-color: #8e7ff7;
    color:white
}

.portada-form {
    background-color: #8e7ff7;
}

.portada-text {
    color: #8e7ff7;
    text-shadow: 1px 1px 2px black;
}

.imagen-form {
    max-width: 220px;
    max-height: 220px;
    object-fit: cover;
}